@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
}
.container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.membros{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,20rem);
    gap: 1rem;    
}

.item {
    width: 20rem;
    background-color: white;
    box-sizing: border-box;
    padding: 1.5em;
    border-radius: 5px;
    border: 1px solid lightgray;
  }
